@font-face {
    font-family: webFont;
    src: url(Oswald-VariableFont_wght.ttf);
    font-family: h1Font;
    src: url(Righteous-Regular.ttf);
  }
body{
    background-image: url(background.jpg);
    font-family: h1font;
    background-size: cover;
    background-color: grey;
    background-blend-mode: multiply;

}
h1 {
    font-size: 150px;
    font-family: h1font;
}
#search{
    max-width: 700px;
    min-width: 90;
    width: 70%;
    height: 50px;
    border: solid black;
    border-radius: 70px;
    background-color: #383838;
    font-size: large;
    font-family: h1Font;
    color:red;
}
#search:hover{
    filter: brightness(0.85);
    transition: 0.7s;
    box-shadow: 0 5px 50px red;
}
#search:focus{
    filter: brightness(0.85);
    transition: 3s;
    box-shadow: 0 5px 500px red;
}
#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
    font-size: large;
    font-family: h1Font;
}

textarea :focus, input:focus {
    color: red;
    font-size: large;
    font-family: h1Font;
}
#shortcuts{
    width:50px;
    float:left;
    margin :30px;
}
#shortcuts:hover{
    filter: brightness(0.85);
    transition: 0.7s;
    box-shadow: 0 0px 50px red;
}
#shortcuts1{
    width:50px;
    float:left;
    margin :20px;
    margin-right:30px;
}
#shortcuts1:hover{
    filter: brightness(0.85);
    transition: 0.7s;
    box-shadow: 0 0px 50px red;
}
.righttoolkit{
    background-color:rgba (0.0.0. 0,5);
    filter: brightness(0.85);
    border:solid;
    float:right;
    max-height:8000px;
    width:90px;
    height:100%;
    box-shadow: 0 0px 50px red;
    border-radius: 20px;
    text-align: center;
}
.sui{
    text-align: center;
    margin-left: 100px;
    
}
#shortcuts2{
    width:60px;
    border-radius: 10px;
    margin-top:50px;
}
#shortcuts2:hover{
    filter: brightness(0.85);
    transition: 0.7s;
    box-shadow: 0 0px 50px red;
}
#searchbtn{
    margin: 30px;
    height: 50px;
    background-color: black;
    color: red;
    width:200px;
    border:solid black;
    border-radius:50px;
    box-shadow: 0 0px 50px red;
    cursor:pointer;
    font-family: h1Font;
    font-size: 20px;
}
#searchbtn:hover{
    filter: brightness(0.85);
    transition: 3s;
    box-shadow: 0 0px 500px red;
    color: rgb(143, 0, 0);
}